.header-wrapper
{
    height: 75px;
    background-color: #0394fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    caret-color: transparent;
    color: white
}

.header-image
{
    height: 35px;
    caret-color: transparent;
}

.header-label
{
    background-color: inherit;
    height: 75px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0394fc;
}

.header-logout
{
    margin-right: 30px;
    background-color: inherit;
    color: white;
}

