.main-container
{
    flex: auto;
    background-color: aqua;
}

.main-top-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.main-top-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 30px;
    /* border: 1px solid grey; */
    border-radius: 8px;
    /* background-color: white; */
}

.main-welcome
{
    margin-left: 30px;
}

.main-logout
{
    margin-right: 30px;
}

.box-container
{
    display: flex;
    justify-content: space-around;
    height: 20vh;
    background-color: goldenrod;
}

.box
{
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
}

.label
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: grey;
    font-size: x-large;
    font-weight: bold;
    font-family: cursive, sans-serif;
}

.detail-container 
{
    height: 60%;
    font-size: x-large;
    font-weight: bold;
    font-family: monospace, sans-serif;
}

#count-hoso
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.count
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;;
    height: 60%;
}

.detail
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.chart-container
{
    position: relative;
    height: calc(100vh - 20vh - 150px);
    width: 80vw;
    padding-left: 50px;
}