.wrap-Admin
{

}

.body-container
{
    display: flex;
    height: calc(100vh - 75px);
}

.main-wrapper
{
    width: calc(100vw - 300px);
    height: 450px;
    padding: 0 25px;
}

.main-table
{
    height: 450px;
}