.login-wrapper
{
    width: 450px;
    margin: 30vh auto;
    border: 1px solid #dadce0;
    border-radius: 8px;
}


.login-header
{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;

}

.login-input
{
    padding: 20px
}

.login-registerLink
{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.login-registerLink a
{
    text-decoration: none;
    color: #1a73e8;
}

.login-note
{
    text-align: center;
    background-color: #bdfffc;
    padding: 5px;
    font-size: 18px;
    color: rgb(10, 72, 98);
}

.login-or
{
    text-align: center;
}