.login-wrapper
{
    width: 450px;
    margin: 30vh auto;
    border: 1px solid #dadce0;
    border-radius: 8px;
}


.login-header
{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;

}

.login-input
{
    padding: 20px
}